body {
    background-color: rgb(146, 212, 250);
}

div {
    background-color: rgb(151, 151, 151);
    text-align: center;
}

#gameplay {
    min-height: 200px;
}

#outcome, .player {
    border: 2px solid black;
}

