body {
    background-color: rgb(146, 212, 250);
}

div {
    background-color: rgb(151, 151, 151);
    text-align: center;
}

#gameplay {
    min-height: 200px;
}

.info, .player {
    border: 2px solid black;
}

.chat {
    border: 2px solid black;
}

#chatWindow {
    height:150px;
    overflow: auto;
    background-color: white;
}

.joined {
    color: green;
}

.left {
    color: red;
}

.yourChat {
    color: blue;
}

.chatMessage {
    background-color:white;
    font-size: 12px;
}